{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я автор</h1>
<p>
  Я - начинающий Python-разработчик. Я пока ещё не волшебник, я только учусь (но научусь обязательно!).  
</p>
<p>
  Это мой аккаунт в Github: <a href="https://github.com/Kertarus">тюк сюда!</a>
</p>  
<p>
  А вот тут скоро будет моё резюме: будущее_резюме.
</p>
<p>
  В работе над этим проектом мне очень помогли жираф, верблюд и три улыбчивых пингвина. А если серьёзно - меня вдохновляли и поддерживали любимая жена и внутренний Кот.
</p>    
{% endblock %} 
