{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Вот что я умею</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>Создать этот сайт мне помогли математические таланты, логическое мышление, полёт фантазии, страсть к обучению в любых видах и железная задница!:D</p>
    <p>Весьма кстати оказалось умение отчаянно гуглить, а также навык быстрого поиска правильных ответов в комментариях сокурсников!;P</p>
  </article>
</div>
{% endblock %} 
